body {
    font-family: Roboto;
    background: linear-gradient(to right, rgb(43, 192, 228), rgb(234, 236, 198));
}

p, h2 {
    text-align: center;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.center {
    width: 25%;
    margin: 0 auto;
}

.last-par {
    margin-bottom: 50px;
}