* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial;
}

.nav-span {
    margin-right: 20px;
    width: auto;
    background: transparent; 
}