<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Toolkit Home</title>
</head>
<body>
  <!-- div for title -->
  <div>
    <h1>Student Toolkit</h1>
    </div>
  <!-- div for navbar -->
  <div>

    </div>
  <!-- div for quote -->
  <div>
    <p>"There was no one to confuse me, so I was forced to become original"</p>
    <hr>
    <p> Joseph Hadyn</p>
    </div>
  <!-- div for descriptions -->
  <!-- idea: what if we make the links clickable on the images we may use, or on the H2's?-->
  <div>
    <h2>TO-DO LIST</h2>
    <h4>Add things that you need to do</h4>
    <h2>SCHEDULER</h2>
    <h4>Schedule your day to day activities</h4>
    <h2>PLANNER</h2>
    <h4>Plan out for the month ahead</h4>
    <h2>STUDY GUIDE</h2>
    <h4>Jot down notes for future reference/exams</h4>
    </div>
</body>
</html>
